@font-face {
   font-family: 'MinecraftDefault-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Tamim/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-01-28_112518/fonts/MinecraftDefault-Regular/font.ttf');
}
